@font-face {
   font-family: 'JosefinSans-Thin';
   font-display: swap;
   src: url('file:///Users/samlapp/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2019-11-20_192748/fonts/JosefinSans-Thin/font.ttf');
}
